@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800;900&ital,wght@200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #EDF6F9;
  --secondary-color: #FFDDD2;
  --primary-text-color: #006D77;
  --secondary-text-color: #83C5BE;
  --accent-color: #E29578;
  --white-color: #FFFFFF;
}